/* Base CSS */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}
a{
    text-decoration: none
}

/* General CSS */
.btn {
    border: none;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    background-color: #e7e7e7;
}
.btn:hover {
    background-color: #ddd;
}

.btn-md {
    padding: 10px 22px
}

.btn-outline {
    font-size: .9rem;
    font-weight: 600;
    color: #e7e7e7;
    
    border: solid 3px #e7e7e7;
    background-color: transparent;
}

.text {
    color: #797979;
    font-weight: 500;
    line-height: 1.65;
    margin-bottom: 1.5rem;
}

.text-center {
    text-align: center;
}

.heading {
    font-size: 1.5rem;
    font-weight: 500;
    color: #2571B7;
    margin-bottom: 1.9rem;
}

.container {
    width: 90%;
    max-width: 90vw;
    margin: 0 5%;
}
    @media all and (min-width: 769px){
        .container {
           width: 80%;
           margin: 0 10%;
        }
    }

.page-section{
    margin-top: 2rem;
    padding-bottom: 1rem;
}

/* Header Section */
.header {
    position: relative;
}
.nav-wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.navbar {
    background-color: #2571B7;
    padding: 5px 5%;
}
.logo {
    color: #fff;
    font-size: 1.2rem;
    display: none;
}

.nav-link {
    color: #fff;
    font-weight: 500;
}

.navbar .nav-link {
    display: block;
}

.navbar-toggle {
    color: white;
}

.line1,
.line2,
.line3 {
  width: 30px;
  height: 3px;
  background-color: white;
  margin: 5px 0;
  transition: .2s;
}

.active-toggle .line1 {
    transform: rotate(-45deg) translate(-6px, 5px);
}

.active-toggle .line2 {
    opacity: 0;
}

.active-toggle .line3 {
    transform: rotate(45deg) translate(-6px, -5px);
}

.btn-navbar {
    border: none;
    padding: 6px 20px;
    background: #002050;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
}
.btn-navbar:hover {
    background-color: #002d5f;
}

.btn-primary {
    background-color: #00A4EF;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 1.2rem 2.8rem;
}

/* Mobile Menu */
.navbar .nav-item {
    padding: 15px 5px;
}
.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.navbar-toggle {
    order: 1;
    cursor: pointer;
    padding: .5rem;
}
.btn-navbar {
    order: 2;
}
.nav-menu {
    order: 3;
    width: 100vw;
    flex-direction: column;
    display: none;
}
.nav-item {
    width: 100%;
    text-align: center;
}
.active {
    display: block;
}

/* Desktop Menu */
@media all and (min-width: 769px){
    .navbar-toggle {
        display: none;
    }
    .logo {
        display: block;
        flex: 1;
    }
    .navbar {
        justify-content: flex-end;
        padding: 15px 7%;
    }
    .nav-menu{
        display: flex;
        flex-direction: row;
        width: 35%;
        order: 2;
        margin-right: 3rem;
    }
}

/* Landing Page */
.landing {
    position: relative;
    display: table;
    width: 100%;
    height: 100%;
    z-index: -2;
}

.landing-inner {
    background-image: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.5) 45%), url(../assets/ballpen-blur-close-up-461077.png);
    display: table;
    width: 100%;
    height: 100vh;
    min-height: 350px;
    background-size: cover;
    background-position: center;
}

.caption {
    position: absolute;
    top: 30%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
}

.caption h1 {
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 2.5rem;
}
.caption h3 {
    font-size: 1.8rem;
    line-height: 1.5;
    margin-bottom: 5rem;
}
.caption h1, h3 {
    color: white;
}

.caption .btn{
    margin-left: auto;
    margin-right: auto;
}

.caption .landing-logo {
    margin-top: 125px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.arrow-down .line1,
.arrow-down .line2 {
    display: none;
}

@media all and (min-width: 769px) {
    .caption {
/*        width: 86%;*/
        text-align: left;
    }
    .caption .btn {
        margin-left: 0;
    }
    .caption .landing-logo {
        margin-top: 175px;
        display: flex;
        justify-content: space-between;
    }

    .caption h1 {
        font-size: 3.5rem;
    }
    .caption h3 {
        font-size: 1.5rem;
    }
    .arrow-down {
        margin-left: 1.2rem;
    }

    .arrow-down .line1,
    .arrow-down .line2 {
        display: block;
        width: 32px;
        height: 2px;
        background-color: white;
        margin: 5px 0;
    }
    .line1 {
        transform: rotate(45deg) translate(-6px, 27px);
    }
    .line2 {
        transform: rotate(-45deg) translate(-6px, 5px);
    }
}

/* Main Section - Section 1 */
.text p {
    margin-bottom: 1rem;
}

/* Main Section - Section 2 */
.box {
    display: flex;
    align-items: center;

    background-color: #2571B7;
    padding: 1rem 1.5rem;
    margin-bottom: 1.5rem;
}

.box img {
    width: 64px;
    height: 64px;
    margin-right: 1rem;
}

h5.heading {
    color: white;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.lead-card {
    color: white;
    font-size: .9rem;
    line-height: 1.5;
}

.box:nth-child(n+7) {
    display: none;
}
.box:nth-of-type(2){
    background-color: #2C5898;
}
.box:nth-of-type(3){
    background-color: #207245;
}
.box:nth-of-type(4){
    background-color: #CB4A32;
}
.box:nth-of-type(5){
    background-color: #733781;
}
.box:nth-of-type(6){
    background-color: #00AFF0;
}
.box:nth-of-type(7){
    background-color: #094AB2;
}
.box:nth-of-type(8){
    background-color: #0072c6;
}
.box:nth-of-type(9){
    background-color: #0093BE;
}
.box:nth-of-type(10){
    background-color: #5558AF;
}

/* Section 3 */

.item {
    /*display: flex;
    flex-wrap: wrap;
    align-items: center;*/

    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "header header"
                         "txt img"
                         "btn btn";

    margin-bottom: 3rem;
    position: relative;
}

.item h5.heading {
    font-weight: 500;
    color: #7FBA00;
    grid-area: header;
}
.item:nth-of-type(2) h5.heading {
    color: #00A4EF;
}
.item:nth-of-type(3) h5.heading {
    color: #FFB900;
}

.item-img {
    width: 45px;
    height: 45px;
    margin: 0 0 20px 20px;
    padding: 25px;
    text-align: center;
    border-radius: 50%;
    background-color: #7FBA00;
    grid-area: img;
}
.item:nth-of-type(2) .item-img {
    background-color: #00A4EF;
}
.item:nth-of-type(3) .item-img {
    background-color: #FFB900;
}

.item-img img {
    width: 45px;
    height: 45px;
}

.item .text {
    margin-bottom: 1rem;
    font-size: .9rem;
    grid-area: txt;
    align-self: center;
}

.item:nth-child(-n+2)::after {
    display: block;
    content: "";

    width: 100%;
    height: 3px;

    position: absolute;
    bottom: -1.5rem;
    background-color: lightgray;
    /*border-bottom: solid 2px gray;*/
}

.item .btn {
    margin-right: auto;
}

.success {
    border-color: #7FBA00;
    color: #7FBA00;
    grid-area: btn;
}
.success:hover {
    background-color: #7FBA00;
    color: white;
}

.info {
    border-color: #00A4EF;
    color: #00A4EF;
}
.info:hover {
    background-color: #00A4EF;
    color: white;
}

.warning {
    border-color: #FFB900;
    color: #FFB900;
}
.warning:hover {
    background-color: #FFB900;
    color: white;
}
